<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-game-controller-a"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Reinos" tabIcon="ios-people"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Marcadores" tabIcon="ios-stats"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Perfil" tabIcon="ios-person"></ion-tab>
</ion-tabs>
