<ion-header>
  <ion-navbar>
    <ion-title>Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card *ngFor="let item of result; let i = index">
    <div >
      <img src=""/>
      <div class="category-title"> {{item.category}} </div>
      <ion-item text-wrap>
        <h2>{{item.tittle}}</h2>
      </ion-item>

      <ion-card-content>
        <p> Respuesta correcta: {{item.rightAnswer}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button *ngFor="let answer of answers[i]" (click)="itemTapped($event, answer)" color="personal" ion-button block small >
            <div>
              {{answer}}
            </div>
          </button>
        </ion-col>
      </ion-row>
    </div>


  </ion-card>
</ion-content>
