page-home {

}

ion-card {
   position: relative;
   text-align: center;
 }

.category-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}
